.landingPage {

}

.landingPageForms {
    display: flex;
    width: 400px;
    align-content: flex-end;
    vertical-align: center;
}

.labelM {
    min-width: 80px;
    max-width: 80px;
    font-size: medium;
    text-align: center;
    line-height: 40px;
}

.inputM {
    width: 250px;
    min-height: 40px;
    max-height: 40px;
    border: solid 1px #007bff;
    border-radius: 30px;
}

.buttonM {
    display: flex;
    min-width: 150px;
    max-width: 100px;
    min-height: 30px;
    max-height: 30px;
    margin-bottom: 10px;
    border: solid 1px #007bff;
    border-radius: 30px;
    background-color: transparent;
    line-height: 30px;
    cursor: pointer;
}

.button-group button {
    padding: 10px 20px;
}